html,body{
    height:100%;
    margin:0px;
    box-sizing: border-box;
 }
 
 
 *{
    border: solid black 1px;
 }
 
 
 
 
 
 
 #main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: aqua;
    gap:5px;
    height: 100%;
 
 
 }
 
 
 #nav{
    display: grid;
    grid-template-rows: 3fr repeat(3,1fr);
    background-color: orange;
    gap:5px;
    padding:5px
 }
 
 
 .dialog:modal{
    display: flex;
    flex-direction: column;
    width:75%;
    height:50%;
    align-items: center;
   justify-content: center;
 
 
 }
 
 img{
   height:100%;
   width: auto;
 }
 
 #dialogBody{
    /*height:90%;
    width:95%;*/
    display:grid;
    gap:5px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5,1fr) 5fr;
    align-items: start;
    justify-items: left;
    padding-top: 5%;
    padding-left:10%;
 }
 
 
 #buttonBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
 }
 
 
 label{
    justify-content: right;
    justify-self: right;
 }
 
 
 #shelf {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-color: red;
    gap:5px;
    padding: 5px;
 }
 
 
 #unread{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: blue;
    gap:5px;
 }
 
 
 #read{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    background-color: green;
    gap:5px;
 }
 
 
 #add{
    background-color: magenta;
 }
 
 
 .filter{
    background-color: yellow;
 }
 
 
 .card{
   /* height: minmax(100px, 200px);
    width: minmax(100px, 150px);*/
    display: grid;
    /*grid-template-columns: 4fr 1fr;*/
    grid-template-columns: 4fr 1fr;
    background-color: bisque;
    gap: 2px;
    padding: 3px;
 }
 
 .cardColumns{
   display: grid;
   grid-template-rows: repeat(4, 1fr) 3fr;
   gap: 3px;
   background-color: lime;
 }
 
 .cardData{
    background-color: rgb(200, 252, 252);

 }

 .cardButtons{
   background-color: purple;
   display: grid;
   grid-template-rows: repeat(3, 1fr);
   gap: 3px;
   padding: 3px;
 }

 .cButton{
   background-color: floralwhite;
 }
 
 
 ::backdrop {
    background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.75;
  }
 
 